*{padding: 0; margin: 0; text-decoration: none; list-style-type: none; font-family: calibri;}
a {color: white;}
body {background: #9d8f8f;}
.win-box {
	margin-top: 150px;
	width: 100%;}
	.box-log-in p {color: #2d132c;}
.box-log-in {
	max-width: 200px;
	border-radius: 10px;
	padding: 20px;
	margin: 0 auto;
	background: #d1d1d1;}
.box-log-in form input {
	color: grey;
	margin: 10px auto;
	display: block;
	width: 90%;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	font-size: 18px;}
.box-log-in label {margin: 0 auto; color: grey;}
.box-log-in form button {
	background:  grey;
	padding: 5px 15px;
	border: none;
	color: white;
	cursor: pointer;
	border-bottom: 2px solid grey;}
.box-log-in form button:hover {
	color: #dfd3c3;
	border-bottom: 2px solid #dfd3c3;}
	.line {background: #9d8f8f; height: 1px; margin: 5px 0;}
